*{
    margin 0;
    padding 0;
}

nav{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;


    .nav_botao
    .nav_logo{
        width: 35px;
        background-color: blue; 
        margin: 15px;

    }